* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-left: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    height: 85px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  
  .description {
    margin: 1px;
    font-size: small;
  }
  
  .status {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .isWin {
    color: blue; 
    text-shadow: 0 0 0.8em blue;
  }
  
  .isDraw {
    color: green; 
    text-shadow: 0 0 0.8em green;
  }